body{
    margin: 0ch;
    background-color: #056679;
    font-family: sans-serif;
}
h1{
    margin: 0;
    padding-bottom: 10px;
    color: #056679;
}
.todo-container{
    width: 350px;
    height: 400;
    /* position: absolute; */
    margin: auto;
    margin-top: 30px;
    /* left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) ; */
    text-align: center;
}
.input-section{
    background-color: #055565;
    padding: 18px;
    border-radius: 10px;
    box-shadow: 0 4px 6px #055565;
    
}

.input-section input{
    border-radius: 5px;
    border: 1px solid #106879;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #055565;
    color: #08869e;

}

ul{
 
padding: 0; text-align: left;}
ul li{
    list-style: none;
    background-color: #055565;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #08869e;
    box-shadow: 0 4px 6px #055565;
    border: 1px solid #055565;

    display: flex;
}
ul li i{
    text-align: right;
    flex: 1;
}
input ::placeholder{
    color: #08869e;
    cursor: pointer;
}